{% extends 'base.html' %}
{% load static %}
{% load django_template_maths %}


{% block extra_css %}
<!-- Animate on scroll -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css">
<link rel="stylesheet" href="{% static 'css/profile_card.css' %}">
<link rel="stylesheet" href="{% static 'css/forum.css' %}">
<link rel="stylesheet" href="{% static 'css/social_icons.css' %}">
<link rel="stylesheet" href="{% static 'css/media_queries.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="jumbtron" id="home">
        <div id="home_text">
            <h1 class="display-1 text-uppercase text-center" id="home_text__heading">
                The<br>Moksha<br>Centre
            </h1>
            <hr id="home_text__under">
            <p class="text-center">A liberating experience</p>
        </div>
    </div>
    <div id="story_container" class="mt-5">
        <div id="story"></div>
        <div class="container pt-5">
            <div class="row py-5">
                <div class="col-md-12 col-lg-6" data-aos="fade-right" data-aos-duration="1500">
                    <button class="btn" type="button"><img class="img-fluid" src="{{ MEDIA_URL }}about_us.jpg"
                            style="border-style: none;"></button>
                </div>
                <div class="col" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="500">
                    <h1 class="text-uppercase text-center">A LITTLE BIT ABOUT US</h1>
                    <p class="my-5">Welcome to The Moksha Centre, Kerry.<br><br>We offer a wide variety of yoga, pilates and
                        mindfulness classes, with the aim of enabling you to bring healing, balance and harmony into your
                        life.<br><br>If you have a little experience
                        practising yoga, have an established or advanced practice or if you are considering starting yoga
                        please join us for the highest quality yoga classes taught by expert teachers.<br><br>We have a
                        beautiful studio, located in a secluded,
                        natural environment that embodies that ideas of health and well-being.<br></p>
                    <p class="mt-5">We share over a decade of experience in the field of yoga, pilates and mindfulness
                        education and we have welcomed hundreds of students attend our classes from around the
                        world.<br><br>All the staff at our centre are warm, friendly
                        and supportive; all our teachers are trained to the highest standards and are certified with the
                        Irish Yoga Association.<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="membership_container">
        <div id="membership"></div>
        <div class="container py-5">
            <div class="intro">
                <h1 class="text-uppercase text-center mt-3 mb-5">Membership Options</h1>
                <p class="text-center">Choose from our range of membership options.</p>
            </div>
            <div class="row membership_cards">
                <div class="col-sm-6 col-lg-4 membership_card">
                    <div class="profile-card" data-aos="zoom-in" data-aos-duration="1000">
                        <div class="profile-back"></div>
                        <img src="{{ MEDIA_URL }}yoga_membership.jpg" alt="" class="rounded-circle profile-pic">
                        <h3 class="profile-name">Yoga Membership</h3>
                        <p class="profile-bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptate,
                            itaque fuga reiciendis ex voluptas voluptatum minima necessitatibus, placeat ducimus
                            corrupti maxime quisquam nostrum eum voluptates iure consequatur illo. Ut maiores non
                            aspernatur numquam totam a quae libero, quibusdam est, nam beatae eius sequi rem quas iusto
                            fugit optio doloremque!</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 membership_card">
                    <div class="profile-card" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="500">
                        <div class="profile-back"></div>
                        <img src="{{ MEDIA_URL }}pilates_membership.jpg" alt="" class="rounded-circle profile-pic">
                        <h3 class="profile-name">Pilates Membership</h3>
                        <p class="profile-bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptate,
                            itaque fuga reiciendis ex voluptas voluptatum minima necessitatibus, placeat ducimus
                            corrupti maxime quisquam nostrum eum voluptates iure consequatur illo. Ut maiores non
                            aspernatur numquam totam a quae libero, quibusdam est, nam beatae eius sequi rem quas iusto
                            fugit optio doloremque!</p>
                    </div>
                </div>
                <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4 membership_card">
                    <div class="profile-card" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="1000">
                        <div class="profile-back"></div>
                        <img src="{{ MEDIA_URL }}full_membership.jpg" alt="" class="rounded-circle profile-pic">
                        <h3 class="profile-name">Full Membership</h3>
                        <p class="profile-bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptate,
                            itaque fuga reiciendis ex voluptas voluptatum minima necessitatibus, placeat ducimus
                            corrupti maxime quisquam nostrum eum voluptates iure consequatur illo. Ut maiores non
                            aspernatur numquam totam a quae libero, quibusdam est, nam beatae eius sequi rem quas iusto
                            fugit optio doloremque!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax"></div>
    <div id="new_container" class="pb-5">
        <div id="new_products"></div>
        <div class="container">
            <h1 class="text-uppercase text-center py-5">New in store</h1>
            <div class="row">
                {% for recent in recent_products %}
                <div class="col-sm-6 col-lg-4 mt-2">
                    <div class="card shadow" data-aos="zoom-out" data-aos-duration="750"
                        data-aos-delay="{{forloop.counter|mul:"300"}}">
                        <a href="{% url 'product_detail' recent.id %}">
                            <img src="{{ recent.image_url }}" alt="" class="card-img-top w-100 d-block">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title one_line text-uppercase text-center">{{ recent.name }}</h5>

                            <!-- If no product colour enter an empty space to ensure card sizes match -->
                            <h6 class="card-subtitle text-muted text-uppercase text-center mb-2">{% if recent.color %}{{ recent.color }}{% else %}&nbsp;{% endif %}</h6>
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-outline-dark btn-block disabled">
                                        <i class="fas fa-euro-sign"> {{ recent.price }}</i>
                                    </button>
                                </div>
                                <div class="col-6">
                                    <a href="{% url 'product_detail' recent.id %}" class="btn btn-info btn-block text-light" role="button">Info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="forum_subscribe" id="forum_container">
        <div id="forum"></div>
        <div class="container" id="forum_signup">
            <div class="intro">
                <h2 class="text-center">Share your experiences in our forum</h2>
                <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde dicta perspiciatis
                    quisquam illo voluptas accusantium at ad officiis repellat recusandae?</p>
            </div>
            <div class="text-center">
                <a href="{% url 'account_signup' %}">
                    <button class="btn" type="submit">Sign up</button>
                </a>
            </div>
        </div>
    </div>
    <div id="offers_container" class="pb-5">
        <div id="offers"></div>
        <div class="container">
            <h1 class="text-uppercase text-center py-5">Special offers</h1>
            <div class="row">
                {% for offer in offers %}
                <div class="col-sm-6 col-lg-4 mt-2">
                    <div class="card shadow" data-aos="zoom-in" data-aos-duration="750"
                        data-aos-delay="{{forloop.counter|mul:"300"}}">
                        <a href="{% url 'product_detail' offer.id %}">
                            <img src="{{ offer.image_url }}" alt="" class="card-img-top w-100 d-block">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title one_line text-uppercase text-center">{{ offer.name }}</h5>

                            <!-- If no product colour enter an empty space to ensure card sizes match -->
                            <h6 class="card-subtitle text-muted text-uppercase text-center mb-2">{% if offer.color %}{{ offer.color }}{% else %}&nbsp;{% endif %}</h6>
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-outline-dark btn-block disabled">
                                        <i class="fas fa-euro-sign"> {{ offer.price }}</i>
                                    </button>
                                </div>
                                <div class="col-6">
                                    <a class="btn btn-info btn-block text-light" role="button">Info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="contact_container" class="text-center">
        <div id="contact"></div>
        <div class="container mt-5 py-5">
            <h1 class="display-3 text-capitalize mb-5">feel free to contact me!</h1>

            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <h3 class="text-capitalize-text-center">I'd love to hear from you!</h3>
                    <a href="#" class="text-light text-decoration-none">info@mokshacentre.ie</a>
                    <p class="text-uppercase">
                        <strong>PR & management</strong>
                    </p>
                    <a href="#" class="text-light text-decoration-none">admin@moksharcentre.ie</a>
                    <p class="text-uppercase">
                        <strong>for business enquiries</strong>
                    </p>
                </div>
                <div class="col-md-12 col-lg-6">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control home_contact_form" name="name" placeholder="Name"
                                required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control home_contact_form" name="email" placeholder="Email"
                                required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control home_contact_form" name="message"
                                placeholder="Type your message here..." rows="5" required minlength="10"
                                maxlength="500"></textarea>
                        </div>
                        <div class="form-group text-right">
                            <button class="btn btn-outline-light" type="submit">
                                Send Message
                                <i class="far fa-paper-plane"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    {{ block.super }}

    <script src="{% static 'js/smooth_scroll.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>

    <script>
        AOS.init({
            disable: function () {
                var maxWidth = 1024;
                return window.innerWidth < maxWidth;
            }
        });
    </script>
{% endblock extra_js %}