{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/forum_posts.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="container-fluid" id="forum_post_container">
        <div class="row">
            {% include 'includes/sidebar.html' %}
            <div class="col-8" id="content">
                <div id="post_detail">
                    <h3>{{ post.title }}</h3>
                    <p class="date">
                        Published {{ post.published }} by {{ post.author }}
                    </p>
                    {{ post.body }}
                    <p>
                        <a href="{% url "forum:post_share" post.id %}">
                            Share this post
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}