{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/forum_posts.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="container-fluid" id="post_share_container">
        <div class="row">
            {% include 'includes/sidebar.html' %}
            <div class="col-8" id="content">
                {% if sent %}
                    <h1>Email sent successfully</h1>
                    <p>
                        "{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
                    </p>
                {% else %}
                    <h1>Share "{{ post.title }}" by email</h1>
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div>
                                {{ field.label_tag }} {{ field }}
                            </div>
                        {% endfor %}
                        <input type="submit" value="Send mail">
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    
{% endblock content %}