.bg_img {
    background-attachment: fixed;
    background-image: repeating-linear-gradient(5deg, rgba(254, 124, 0, 0.65) -77%, rgba(254, 124, 0, 0.65) 100%), url(../../media/base_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bag_container {
    background-color: rgba(233, 236, 239, 0);
    height: 100vh;
    margin: 10% auto 5%;
    position: relative;
    z-index: 100;
}

#contact, #story{
    position: absolute;
    top: -66px;
}

#contact_container {
    color: white;
    margin-bottom: 50px;
    position: relative;
}

#home {
    height: 100vh;
    background-color: rgba(233, 236, 239, 0);
    z-index: 100;
}

#home_text {
    color: white;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

#home_text__under {
    background-color: white;
    width: 300px;
}

#forum, #membership, #new_products, #offers {
    position: absolute;
    top: -65px;
}

#membership_container, #new_container, #offers_container {
    background-color: rgba(255,255,255,0.79);
    position: relative;
}

#products_container {
    background-color: white;
    position: relative;
    margin: 10% auto 5%;
}

#product_detail_container {
    position: relative;
    margin: 10% auto 5%;
}

#story_container {
    background-color: rgba(255,255,255,0.5);
    position: relative;
}

.btn_search {
    color: #343a40;
    border-color: #343a40;
}

.btn_search.scrolled_down {
    color: white;
    border-color: white;
}

.display-1 {
    font-size: 5rem;
}

.fa-chevron-circle-left, .fa-chevron-circle-right {
    color: #83647A;
}

.home_contact_form {
    background-color: rgba(255, 255, 255, .5);
}

.home_contact_form::placeholder {
    color: white;
}

.nav-link.active {
    color: black;
}

.navbar-nav > li > .dropdown-menu {
    background-color: white;
}

.search_container.opaque, .navbar.opaque {
    background-color: rgba(255, 255, 255, 1);
}

.navbar.scrolled_down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.navbar-nav > li > .dropdown-menu > .dropdown_subtitle {
    background-color: rgba(254, 99, 22, .6);
    color: white;
    padding-top: 0;
}

.one_line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.parallax {
    background-attachment: fixed;
    background-image: url(../../media/parallax.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.search_container {
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    top: 7%;
    z-index: 200;
}

.search_container > form {
    margin: auto;
    width: 50%;
}

.search_container.scrolled_down {
    background-color: #343a40;
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.search_form-control {
    background: transparent;
    border: 1px solid #343a40;
}

.search_form-control.scrolled_down {
    background: white;
    border: 1px solid white;
}

.search_form-control::placeholder {
    color: #343a40;
}

.search_form-control::placeholder.scrolled_down {
    color: white;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}