/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* IDs */
#checkout_container, #order-success_container {
    background-color: rgba(233, 236, 239, 0);
    margin: 10% auto 5%;
    min-height: 100vh;
    position: relative;
    z-index: 100;
}

#loading_overlay {
    background: rgba(131, 100, 122, .9);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}



/* CLASSES */

.loading_spinner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
}

.StripeElement {
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px 0 #e6ebf1;
            box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    -webkit-transition: -webkit-box-shadow 150ms ease;
    transition: -webkit-box-shadow 150ms ease;
    -o-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease, -webkit-box-shadow 150ms ease;
    -webkit-transition: box-shadow 150ms ease;
}
  
.StripeElement--focus {
    -webkit-box-shadow: 0 1px 3px 0 #cfd7df;
            box-shadow: 0 1px 3px 0 #cfd7df;
}
  
.StripeElement--invalid {
    border-color: #fa755a;
}
  
.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
} 