/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* ELEMENTS */
p.date { 
    color:#ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic; 
}


/* IDs */
#content { 
    float:left;
    width:60%;
    padding:0 0 0 30px; 
}

#forum_post_container, #post_share_container {
    margin-top: 20%;
    min-height: 100vh;
    position: relative;
}

#post_share_container {
    margin: 10% auto 5%;
}

#sidebar { 
    padding:10px;
    height:90vh;
}