/* IDs */
#content { 
    float:left;
    width:60%;
    padding:0 0 0 30px; 
}

#forum_post_container, #post_share_container {
    margin-top: 10%;
    min-height: 100vh;
    position: relative;
}

#post_share_container {
    margin: 10% auto 5%;
}

#sidebar { 
    padding:10px;
    height:90vh;
}

p.date { 
    color:#ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic; 
}