{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <div class="background_container"></div>
    <div class="container" id="login_container">
        <div class="col-12 col-lg-6 offset-lg-3 col">
            <form class="login" action="{% url 'account_login' %}" method="POST" id="login_form">
                <h1>{% trans "Login" %}</h1>
                <p>{% blocktrans %}If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-5">
                    {{ form.login | as_crispy_field }}
                    {{ form.password | as_crispy_field }}
                    {{ form.remember | as_crispy_field }}
                    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </fieldset>
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="text-right">
                    <button class="btn btn-outline-info primaryAction" type="submit">{% trans "Login" %}</button>              
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
