body {
    background-attachment: fixed;
    background-image: repeating-linear-gradient(5deg, rgba(254, 124, 0, 0.65) -77%, rgba(254, 124, 0, 0.65) 100%), url(../../media/base_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact_container {
    color: white;
}


#home {
    height: 100vh;
    background-color: rgba(233, 236, 239, 0);
    z-index: 100;
}

#home_text {
    color: white;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

#home_text__under {
    background-color: white;
    width: 300px;
}

#forum, #membership, #new_products, #offers {
    position: absolute;
    top: -65px;
}

#contact, #story{
    position: absolute;
    top: -66px;
}

#contact_container {
    position: relative;
}

#story_container {
    background-color: rgba(255,255,255,0.5);
    position: relative;
}

#membership_container, #new_container, #offers_container {
    background-color: rgba(255,255,255,0.79);
    position: relative;
}

.display-1 {
    font-size: 5rem;
}

.home_contact_form {
    background-color: rgba(255, 255, 255, .5);
}

.home_contact_form::placeholder {
    color: white;
}

.nav-link.active {
    color: black;
}

.navbar-nav > li > .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.7);
}

.navbar-nav > li > .dropdown-menu > .dropdown_subtitle {
    background-color: rgba(254, 99, 22, .6);
    color: white;
    padding-top: 0;
}

.parallax {
    background-attachment: fixed;
    background-image: url(../../media/parallax.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}