<div class="card shadow">
    {% if product.image_url %}
        <a href="{% url 'product_detail' product.id %}">
            <img class="img-fluid" src="{{ product.image_url }}" alt="{{ product.name }}">
        </a>
        {% else %}
            <a href="{% url 'product_detail' product.id %}">
                <img class="img-fluid" src="{{ MEDIA_URL }}no_image.jpg" alt="{{ product.name }}">
            </a>
    {% endif %}
    <div class="card-body">
        <div class="card-title one_line text-center">{{product.name}}</div>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-outline-dark btn-block disabled">
                    <i class="fas fa-euro-sign"> {{ product.price }}</i>
                </button>
            </div>
            <div class="col-6">
                <a href="{% url 'product_detail' product.id %}" class="btn btn-info btn-block text-light" role="button">Info</a>
            </div>
        </div>
    </div>
</div>