{% extends 'base.html' %}

{% block extra_css %}
    <!-- Animate on scroll -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css">
{% endblock extra_css %}

{% block content %}
    <div id="story_container" class="mt-5">
        <div id="story"></div>
        <div class="container pt-5">
            <div class="row py-5">
                <div class="col-md-12 col-lg-6" data-aos="fade-right" data-aos-duration="1500" data-aos-once="false"><button class="btn" type="button"><img class="img-fluid" src="{{ MEDIA_URL }}about_us.jpg" style="border-style: none;"></button></div>
                <div class="col" data-aos="fade-left" data-aos-duration="1500" data-aos-once="false" data-aos-offset="500">
                    <h1 class="text-uppercase text-center">A LITTLE BIT ABOUT US</h1>
                    <p class="my-5">Welcome to The Moksha Centre, Kerry.<br><br>We offer a wide variety of yoga, pilates and mindfulness classes, with the aim of enabling you to bring healing, balance and harmony into your life.<br><br>If you have a little experience
                        practising yoga, have an established or advanced practice or if you are considering starting yoga please join us for the highest quality yoga classes taught by expert teachers.<br><br>We have a beautiful studio, located in a secluded,
                        natural environment that embodies that ideas of health and well-being.<br></p>
                    <p class="mt-5">We share over a decade of experience in the field of yoga, pilates and mindfulness education and we have welcomed hundreds of students attend our classes from around the world.<br><br>All the staff at our centre are warm, friendly
                        and supportive; all our teachers are trained to the highest standards and are certified with the Irish Yoga Association.<br></p>
                </div>
            </div>
        </div>
    </div>

    {% block extra_js %}
        <script>
            AOS.init();
        </script>
    {% endblock extra_js %}
    
{% endblock content %}