{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container" id="products_container">
        <div class="container d-flex justify-content-center mb-5" id="pagination_container">
            {% include 'includes/pagination.html' with page=products %}
        </div>
        <div class="row">
            <div class="col text-uppercase text-center my-5">
                <h1>Products</h1>
                <hr class="w-50 mb-1">
                <h5 class="text-muted">
                    {% if filtered %} {{ returned }} items{% endif %}
                </h5>
            </div>
        </div>

        <div class="row my-3">
            {% for product in products %}
                {% if returned == 1 %}
                    <div class="col-12 col-sm-6 offset-sm-3 col-md-4 offset-md-4 my-2">
                        {% include 'includes/product_card.html' %}
                    </div>
                {% elif returned == 2 %}
                    {% if forloop.first %}
                        <div class="col-12 col-sm-6 col-md-4 offset-md-2 my-2">
                            {% include 'includes/product_card.html' %}
                        </div>
                    {% else %}
                        <div class="col-12 col-sm-6 col-md-4 my-2">
                            {% include 'includes/product_card.html' %}
                        </div>
                    {% endif %}
                {% elif returned == 3 %}
                    {% if forloop.first %}
                        <div class="col-12 col-sm-6 col-md-4 offset-md-2 my-2">
                            {% include 'includes/product_card.html' %}
                        </div>
                    {% elif forloop.last %}
                        <div class="col-12 col-sm-6 offset-sm-3 col-md-4 offset-md-4 my-2">
                            {% include 'includes/product_card.html' %}
                        </div>
                    {% else %}
                        <div class="col-12 col-sm-6 col-md-4 my-2">
                            {% include 'includes/product_card.html' %}
                        </div>
                    {% endif %}
                {% else %}
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 my-2">
                    {% include 'includes/product_card.html' %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="container d-flex justify-content-center mb-5" id="pagination_container">
        {% include 'includes/pagination.html' with page=products %}
    </div>
      
{% endblock content %}